body{
    background-color: #F1F2E6;
}

#content-container form{
    position: relative;
    padding: 170px;
    margin-top: 100px;

}

#contact-us-message{
    display: block;
    width: 100%;
    margin: 60px 0 60px 0;
    background-color: #F1F2E6;
    border: 2px solid #424D48;
}

#contact-us-submit-button {
    font-family: 'Open Sans';
    background-color: #F1F2E6;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: right;
    width: 100%;
    cursor: pointer;
    text-decoration: underline;
}

#content-container form h1{
    position: relative;
    display: inline-block;
    font-family: Lato;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    margin: 0;
}

#content-container form input{
    width: 200px;
    margin-left: 40px;
    border: none;
    border-bottom: solid 2px #424D48;
    background-color: #F1F2E6;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    height: 50px;
}

footer{
    background-color: #FFF9EC;
    padding: 60px 60px 10px 60px;
    text-align: center;

}

#social-media-grid-wrapper{
    position: relative;
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 66.6% auto;
    border-bottom:  4px solid #E5E5E5;
    padding-bottom: 50px;
}

#social-media-and-logo-container{
    grid-column-start: 1;
}


#social-media-and-logo-container h2{
    font-family: Lato-black;
    letter-spacing: 0.6px;
    font-size: 40px;
    margin: 0%;
}


#social-media-and-logo-container img{
    height: 45px;
}

#socia-media-link-container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-column-start: 2;
    font-family: Lato;
    letter-spacing: 0.6px;
    line-height:40px;
    text-align: left;
}

#socia-media-link-container a{
    text-decoration: none;
    color: #4B5868;
    font-weight: bold;
    font-size: 24px;
}

footer p{
    font-size: 14px;
    font-family: Open Sans;
    line-height: 5px;
}

@media(max-width: 736px) { 
    #content-container form h1 {
        display: block;
        font-family: Lato;
        font-weight: 800;
        font-size: 40px;
        line-height: 55px;
        margin: 0;
    }

    form {
        position: relative;
        padding: 60px;
        margin-top: 100px;
        text-align: center;
    }

    #content-container form input {
        width: 100%;
        margin-left: 0;
        border: none;
        border-bottom: solid 2px #424D48;
        background-color: #F1F2E6;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        height: 50px;
        position: relative;
        display: block;
    }

    #contact-us-message {
        display: block;
        position: relative;
        width: 100%;
        margin: 60px 0 60px 0;
        background-color: #F1F2E6;
        border: 2px solid #424D48;
    }

    #content-container form{
        position: relative;
        padding: 60px;
        margin-top: 100px;
    
    }
    
}