/* ----------- desktop view ----------- */

#content-container{
    position: relative;
    margin-top: 80px;
}

.options-list{
    padding: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height:28px;
}

.options-list li{
    list-style-type: none;
}

.sublist li{
    list-style-type: circle;
}

#emotionally-information-container{
    position: absolute;
    right: 0;
    top: 800px;
    width: 33%;
    background-color: #009390;
    color: white;
    padding: 80px 60px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: normal;
    z-index: 2;
}

#grid-container{
    position: relative;
    display: grid;
    grid-template-columns: 62% 38%;
    justify-content: stretch;
}

#medically-information-container{
    grid-row-start: 1;
    background: url(../images/bgMedicallyBg.png) no-repeat center center;
    background-size: cover;
    background-color: rgba(255, 250, 246, 0.6);
}

#medically-image-container{
    grid-row-start: 1;
    background: url(../images/medically.png)no-repeat center center;
    background-size: cover;
}

#legally-information-container{
    grid-row-start: 2;
    background: url(../images/aaron-burden.png) no-repeat center center;
    background-size: cover;
    background-color: rgba(255, 250, 246, 0.6);
}

#legally-image-container{
    grid-column-start: 2;
    grid-row-start: 2;
    background: url(../images/legally.png)no-repeat center center;
    background-size: cover;
}

.information-container{
    grid-column-start: 1;
    padding: 80px;
}

h2{
    font-family: Lato-black;
    font-size: 40px;
    line-height: 30px;
    margin-top: 0;
    text-transform: uppercase;
}

.image-container{
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-column-start: 2;
}

footer{
    background-color: #FFF9EC;
    padding: 60px 60px 10px 60px;
    text-align: center;

}

#social-media-grid-wrapper{
    position: relative;
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 66.6% auto;
    border-bottom:  4px solid #E5E5E5;
    padding-bottom: 50px;
}

#social-media-and-logo-container{
    grid-column-start: 1;
}


#social-media-and-logo-container h2{
    font-family: Lato-black;
    letter-spacing: 0.6px;
    font-size: 40px;
    margin: 0%;
}


#social-media-and-logo-container img{
    height: 45px;
}

#socia-media-link-container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-column-start: 2;
    font-family: Lato;
    letter-spacing: 0.6px;
    line-height:40px;
    text-align: left;
}

#socia-media-link-container a{
    text-decoration: none;
    color: #4B5868;
    font-weight: bold;
    font-size: 24px;
}

footer p{
    font-size: 14px;
    font-family: Open Sans;
    line-height: 5px;
}


@media (max-width: 736px) {  
    #content-container{
        position: relative;
        margin-top: 0;
    }

    .options-list{
        font-size: 16px;
        line-height: 24px;
    }

    #grid-container{
        position: relative;
        display: grid;
        grid-template-columns: 100% 0%;
        justify-content: stretch;
    }

    #emotionally-information-container{
        position: relative;
        right: 0;
        top: auto;
        width: auto;
        background-color: #009390;
        color: white;
        padding: 80px 60px;
        font-family: Open Sans;
        font-size: 16px;
        line-height: 24px;
        z-index: 2;
    }

    footer{
        background-color: #FFF9EC;
        padding: 60px 60px 10px 60px;
        text-align: center;
    
    }
    
    #social-media-grid-wrapper{
        position: relative;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 66.6% auto;
        border-bottom: 4px solid #E5E5E5;
        padding-bottom: 50px;
    }
    
    #social-media-and-logo-container{
        grid-column-start: 1;
    }
    
    
    #social-media-and-logo-container h2{
        font-family: 'Lato-black';
        letter-spacing: 0.6px;
        font-size: 40px;
        margin: 0%;
    }
    
    
    #social-media-and-logo-container img{
        height: 45px;
    }
    
    #socia-media-link-container{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-column-start: 2;
        letter-spacing: 0.6px;
        line-height: 40px;
    }
    
    #socia-media-link-container a{
        font-size: 24px;
    }
}